rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow read, write: if false;
    // }
    
    match /education/{document} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    
    match /experience/{document} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    
    match /skills/{document} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    
    match /awards/{document} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    
    match /certificates/{document} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    
    match /projects/{document} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    
    match /blogs/{document} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
  }
}